* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: 12pt Tahoma;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Poppins", serif;
}

:root {
  --sidebarfontcolor: #5e6b88;
  --sidebarbg: #2a3140;
  --primary-blueColor: #E34234;
  --primary-bgColor: #FDF2F1;
  --primary-btnColor: #E34234;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.2);
}

.dark .custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background: transparent;
  border: none;
  padding: 0;
  max-width: 90%;
  width: auto;
  outline: none;
}